<section class="bg-main-light shadow p-2 my-2 rounded-4 w-75 mx-auto">
  <h1 class="h2 text-main text-center">Forgot Password!</h1>

  @if (step == 1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
    <div class="my-2">
      <label for="email">Email :</label>
      <input
        [ngClass]="{
                        'is-valid' : !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty),
                        'is-invalid' : verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched,
                      }"
        id="email"
        formControlName="email"
        class="form-control my-1"
        type="email"
      />
      @if (verifyEmail.get('email')?.errors &&
      verifyEmail.get('email')?.touched) {
      <div class="alert alert-danger w-75 py-2">
        @if (verifyEmail.get('email')?.getError('required')) {
        <p class="m-0">Email is Required</p>
        } @else if (verifyEmail.get('email')?.getError('email')) {
        <p class="m-0">Entar Vaild Email</p>
        }
      </div>
      }
    </div>

    <div class="d-flex justify-content-between align-items-center">
      @if (messageError ) {
      <p class="alert alert-danger w-50 m-0 py-2">
        {{ messageError.split(" ", 9).join(" ") }}
      </p>
      }
      <button [disabled]="verifyEmail.invalid" type="submit" class="btn-main">
        Verify Email @if (isLoading) {
        <span>
          <i class="fas fa-spin fa-spinner"></i>
        </span>
        }
      </button>
    </div>
  </form>
  } @else if (step == 2 ) {
  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
    <div class="my-2">
      <label for="resetCode">Reset Code :</label>
      <input
        [ngClass]="{
                        'is-valid' : !verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty),
                        'is-invalid' : verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched,
                      }"
        id="resetCode"
        formControlName="resetCode"
        class="form-control my-1"
        type="text"
      />
      @if (verifyCode.get('resetCode')?.errors &&
      verifyCode.get('resetCode')?.touched) {

        @if (verifyCode.get('resetCode')?.getError('required')) {
        <p class="m-0 alert alert-danger w-75 py-2">Code is Required</p>
        }

      }
    </div>

    <div class="d-flex justify-content-between align-items-center">
      @if (messageError ) {
      <p class="alert alert-danger w-50 m-0 py-2">
        {{ messageError | termtext : 9 }}
      </p>
      }
      <button [disabled]="verifyCode.invalid" type="submit" class="btn-main">
        Verfiy Code @if (isLoading) {
        <span>
          <i class="fas fa-spin fa-spinner"></i>
        </span>
        }
      </button>
    </div>
  </form>
  } @else if (step == 3 ) {
  <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
    <div class="my-2">
      <label for="email">Email :</label>
      <input
        id="email"
        formControlName="email"
        class="form-control my-1 is-valid"
        type="email"
        readonly
      />
    </div>

    <div class="my-2">
      <label for="newPassword">New Password :</label>
      <input
        [ngClass]="{
                    'is-valid' : !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty),
                    'is-invalid' : resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched ,
                  }"
        id="newPassword"
        formControlName="newPassword"
        class="form-control my-1"
        type="password"
      />
      @if (resetPassword.get('newPassword')?.errors &&
      resetPassword.get('newPassword')?.touched) {
      <div class="alert alert-danger w-75 py-2">
        @if (resetPassword.get('newPassword')?.getError('required')) {
        <p class="m-0">Password is Required</p>
        } @else if (resetPassword.get('newPassword')?.getError('pattern')) {
        <p class="m-0">Entar Vaild Password, Should be than 6 Chars</p>
        }
      </div>
      }
    </div>

    <div class="d-flex justify-content-between align-items-center">
      @if (messageError ) {
      <p class="alert alert-danger w-50 m-0 py-2">
        {{ messageError | termtext : 8 }}
      </p>
      }
      <button [disabled]="resetPassword.invalid" type="submit" class="btn-main">
        Reset Password @if (isLoading) {
        <span>
          <i class="fas fa-spin fa-spinner"></i>
        </span>
        }
      </button>
    </div>
  </form>
  }
</section>
